(
    code: "en",
    cert_required: "A certificate is required to maintain state. Please create or choose a certificate. Proxies to HTTP and other clients without certificate support will not function",
/* Carta */
    untitled_sentinel: "(untitled)",
    from_sentinel: "(unknown)",
/* Index page */
    index_header: "Welcome to the Abyss",
    abyss_enter_link: "Descend?",
/* Abyss page */
    abyss_header: "You're staring into the Abyss",
    fetch_link: "Peek into the abyss?",
    write_link: "Scream into the abyss?",
    return_link: "Climb out?",
/* Fetch page */
    no_new_cartas_status: "You've seen them all.",
    /* Submit confirmation page */
    submit_confirmation_link: "Confirm submission?",
    cancel_link: "Return to editor without submitting?",
    /* Submit page */
    empty_carta_error: "You gotta provide at least *some* text!",
    successful_submission_header: "Submitted",
    successful_submission_modification_text: "Your scream has been heard. If you ever want to take it back, remember the following: ",
/* Write page */
    write_help_flash: "This is a \"text editor\" of sorts. Each line is a link; click on a line to change its contents. Newlines and line numbers are shown ephemerally and will not appear in a submitted post.",
    write_header: "You're screaming into the Abyss",
    write_body_header: "Body",
    write_new_line_message: "Enter the new contents for this line, \"/delete\" to clear this line, or a blank SPACE to cancel without modifying this line.",
    write_new_line_link: "(new line)",
    write_head_header: "Head",
    write_title_link: "Title",
    write_from_link: "From",
    write_new_field_message: "Enter the new contents for this field, \"/delete\" to clear this field, or a blank SPACE to cancel without modiying this field.",
    write_submit_link: "Submit?",
    write_help_link: "Confused?",
    write_delete_command: "/delete",
    write_hide_line_numbers_link: "Hide line numbers?",
    write_show_line_numbers_link: "Show line numbers?",
    write_too_long: "Sorry, that line is too long!",
/* View page */
    view_header: "The abyss screams back.",
    view_replies_header: "Replies",
    view_add_reply_link: "Scream back",
    view_report_link: "Report to the webmaster?",
    report_submitted_flash: "Your report has been submitted.",
)
